# Red Hat Enterprise Linux Server 7
# Kickstart Generator: https://access.redhat.com/labs/kickstartconfig/

#version=RHEL79
auth  --enableshadow  --passalgo=sha512
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use text install
text
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network  --bootproto=dhcp --device=ens192 --ipv6=disabled --activate
network  --hostname=localhost.localdomain
#Repo
#repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Run the Setup Agent on first boot
firstboot --disable
# Eula
eula --agreed
# Do not configure the X Window System
skipx
# Firewall
firewall --disabled
# Selinux permissive
selinux --permissive
# System services
services --enabled="chronyd"
services --enabled="sshd"
services --enabled="NetworkManager"
# System timezone
timezone America/Chicago --isUtc --nontp

# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
# Disk partitioning information
part /boot/efi --fstype="vfat" --size=200
part /boot --fstype="ext4" --size=1024
part swap --fstype="swap" --size=16384
part / --fstype="ext4" --grow --size=1
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Reboot after installation
reboot

rootpw --iscrypted <encrypted password>
#Builtin User:
user --groups=wheel --name=cgiadmin --password=<encrypted password> --iscrypted --gecos="unix team cgiadmin DEV account"
user --groups=wheel --name=svc_rapid7 --password=$6$xFM.5UN8pPeChU1B$ey/3m8PaB6HyjyaxGWMVaC6ppNW8XoJn78q.eMLvWsN39NIaWmlTWjrZctLxRxmWqO5ai0M9H2ccUwKbFQlUr. --iscrypted --gecos="Rapid 7 account"
user --groups=wheel --name=svc_forescout --password=$6$EzIz7VY9A4WeSaJT$OxV9OQOlhte5gRUGb1KDOhv2B2vTpjElBo.LWGY7jre3GeJcfu.DazwsAAxz2FFVTdv6JqAQKgvszd9qtz6RN. --iscrypted --gecos="Forescout account"

# pre part
%pre

%end

# post part
%post
systemctl enable sshd
# systemctl start sshd
systemctl set-default multi-user.target
systemctl disable initial-setup-text
systemctl disable initial-setup-graphical
sed -i 's/__all__ = \["EULAspoke"\]/__all__ = \["LicenseScreen"\]/' /usr/lib/python2.7/site-packages/initial_setup/tui/spokes/eula.py
# secure boot files

# delete libvirt
systemctl stop libvirtd
systemctl disable libvirtd
%end

%packages --ignoremissing --excludedocs
@^minimal
@core
kexec-tools
chrony
sudo
net-tools
vim
nano
wget
curl
cloud-init
cloud-utils-growpart
#epel-release
yum-utils
#dnf

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_C2S
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post

%end
